<div class="row-fluid">
  <div class="span12">
    <form class="form-search text-center">
      <div class="input-append">
        <input autocomplete="off" bs-typeahead="typeahead" class="search-query"
        data-items="20" data-min-length="1" id="symbol_form" ng-model=
        "symbol_wanted" placeholder="Stock Symbol (i.e. AAPL)" type="text">
      </div>
    </form>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div ng-show="info.data.query.results.quote.Name != null"><img ng-show=
    "statusbar" src="img/statusbar.gif">
    <table class="table">
      <tr>
        <th class="bold" colspan="4">{{ info.data.query.results.quote.Name }} ({{
        info.data.query.results.quote.StockExchange }})</th>
      </tr>
      <tr>
        <td colspan="4" ng-class=
        "{gainColor: info.data.query.results.quote.Change &gt; 0, lossColor: info.data.query.results.quote.Change &lt; 0}"
        ng-show="info.data.query.results.quote.Change != null"><span class=
        "whiteColor"><span ng-model="stock_symbol">{{
        info.data.query.results.quote.Symbol }}</span> <span class="bold">{{
        info.data.query.results.quote.LastTradePriceOnly }}</span></span> {{
        info.data.query.results.quote.Change }} ({{
        info.data.query.results.quote.ChangeinPercent }})</td>
      </tr>
      <tr>
        <td>Open:</td>
        <td>{{ info.data.query.results.quote.Open }}</td>
        <td>Mkt Cap:</td>
        <td>{{ info.data.query.results.quote.MarketCapitalization }}</td>
      </tr>
      <tr>
        <td>High:</td>
        <td>{{ info.data.query.results.quote.DaysHigh }}</td>
        <td>52Wk High:</td>
        <td>{{ info.data.query.results.quote.YearHigh }}</td>
      </tr>
      <tr>
        <td>Low:</td>
        <td>{{ info.data.query.results.quote.DaysLow }}</td>
        <td>52Wk Low:</td>
        <td>{{ info.data.query.results.quote.YearLow }}</td>
      </tr>
      <tr>
        <td>Vol:</td>
        <td>{{ info.data.query.results.quote.Volume }}</td>
        <td>Avg Vol:</td>
        <td>{{ info.data.query.results.quote.AverageDailyVolume }}</td>
      </tr>
      <tr>
        <td>P/E Ratio:</td>
        <td>{{ info.data.query.results.quote.PERatio }}</td>
        <td>EPS:</td>
        <td>{{ info.data.query.results.quote.EarningsShare }}</td>
      </tr>
      <tr>
        <td>Div:</td>
        <td>{{ info.data.query.results.quote.DividendShare }}</td>
    </table><img alt="{{info.data.query.results.quote.symbol}} stock chart"
    ng-show="info.data.query.results.quote.Name" src=
    "http://chart.finance.yahoo.com/z?s={{%20info.data.query.results.quote.symbol%20}}&amp;t={{%20timeLength.value%20}}&amp;q=l&amp;l=on&amp;z=s"></div>
  </div>
</div>
<div class="row-fluid chartSelector">
  <div class="span12">
    <div ng-show="info.data.query.results.quote.Name != null">
      Zoom Chart: <select ng-model="timeLength" ng-options=
      "c.name for c in timeFrame">
        </select>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12 text-center">
    <button class="btn btn-primary text-center" id="main_save" ng-click=
    "saveToPortfolio(info.data.query.results.quote.Symbol, info.data.query.results.quote.Name)"
    ng-show="info.data.query.results.quote.Change != null">Save To My
    Portfolio</button>
  </div>
</div>
